{% extends 'base.html' %}
{% block js %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                    ['Category', 'Amount'],
                    {% for row in rows %}
                        ['{{ row['cname'] }}', {{ row['total'] }}],
                    {% endfor %}
                ],
                false);

            var options = {
                pieHole: 0.4,
                'height': 350,
                'width': 700,
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}
{% block title %}Graph{% endblock %}
{% block content %}
    <h4>Graph of transactions from {{ fromDate }} to {{ toDate }}</h4>
    <div id="chart_div"></div>
    <h4>Total spent: {{ sum }} BDT</h4>
    <h4>Largest transaction in this period was {{ maxTransaction['maxAmount'] }} BDT spent on {{ maxTransaction['tdescription'] }}</h4>
{% endblock %}